# FastAPI App Settings
HOST=127.0.0.1
PORT=8000
JWT_SECRET=

# Database Configuration (Supabase PostgreSQL Connection)

DATABASE_URL=

# Supabase API Settings
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Redis Configuration (Upstash or Local)
REDIS_URL=
